<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger"
                     fileName="${sys:user.home}/AppData/Local/RAD/log/RAD.log"
                     filePattern="${sys:user.home}/AppData/Local/RAD/log/RAD.log">
            <PatternLayout>
                <pattern>[%-5level] %d{dd-MM-yyyy HH:mm:ss} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>